<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="HtmlTidy" value="" />
		<add key="TextEditor" value="C:\Program Files\Microsoft Visual Studio 10.0\Common7\IDE\devenv.exe" />
		<!--<add key="TagsToRemove" value="a|font|span|xml|del|ins|img|hr|[ovwxp]" />-->
		<add key="TagsToRemove" value="font|span|xml|del|ins|[ovwxp]" />
		<add key="AttribsToRemove" value="id|class|lang|style|size|face|[ovwxp]" />
		<add key="AlternateChapters" value="PREFACE,INTRODUCTION,FOREWARD,AFTERWARD,AFTER WORDS,ACKNOWLEDGMENTS,PROLOGUE,EPILOGUE,PART,BOOK,FOOTNOTES,GLOSSARY" />
		<add key="ChapterNames" value="CHAPTER,PART,ADVENTURE,BOOK,APPENDIX" />
		
		<add key="LibraryFile" value="C:\Docs\Dropbox\ebooks\top.xml" />
		<add key="BaseDir" value="C:\Files\Misc\ebooks\" />
		<add key="PublicDestintionDir" value="C:\Docs\Dropbox\Public\" />

		<add key="ToTitleCase" value="true" />
		<add key="CleanSuffix" value="_clean" />
		<add key="WindowSize" value="maximized" />
	</appSettings>
</configuration>